/* Auth Page Container */
.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../public/joblistings.jpg') no-repeat center center fixed; /* Specific background for admin */
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
  background-blend-mode: darken;
}

/* Auth Container */
.auth-container {
  max-width: 400px;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent to show the background image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Header */
.auth-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333; /* Darker color for contrast */
}

/* Form Group */
.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: left;
  color: #333; /* Darker text color for better contrast */
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Submit Button */
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #036;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Toggle Button - If Applicable */
.toggle-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: transparent;
  color: #036;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-button:hover {
  color: #0056b3;
}
