.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6482AD; /* Primary color */
  color: white;
  box-sizing: border-box;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  display: flex;
  gap: 20px; /* Space between links */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #E2DAD6; /* Accent color on hover */
}

.navbar-profile {
  display: flex;
  align-items: center;
}

.profile-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile-name {
  color: white;
  font-weight: 600;
}

.logout-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

.logout-button:hover {
  background-color: white;
  color: #6482AD; /* Primary color on hover */
}
